<h2>{{this.title}}
<!-- <button id={{id}} class="btn add-item-all-view">ADD</button> -->
<button id={{id}} class="btn edit-list-all-view">EDIT</button>
<button id={{id}} class="btn delete-list">DELETE</button></h2>
