  <h2>{{this.title}}
  <button id={{this.id}} class="btn edit-content">EDIT</button>
  <button id={{this.id}} class="btn delete-content">DELETE</button></h2>

<!-- <button type="button" class="btn delete-list">EDIT</button> -->


  {{#each this.items}}

  {{/each}}


  <!-- // were nested inside this object now and so should be
  able to do {{date}} etc.  -->
