<h1 class="list-title">{{this.title}}
<div class="list-name-wrapper" data-id={{id}}>
  {{> lists-partial}}
</div></h1>

  <!-- // were nested inside this object now and so should be
  able to do {{date}} etc.  -->
