<div class="add-list-wrapper" data-id={{id}}>
<h1>My Lists</h1>
<!-- <button id={{id}} class="btn add-list-all-view">ADD</button> -->
</div>

{{#each lists}}

<div class="list-name-wrapper" data-id={{id}}>
{{> all-lists}}
{{> add-new-item}}

{{/each}}
</div>
