$welcome-background: #a6f0b6;
$form-background: #32335c;
$header-font-color: #32335c;
$form-color: #f0ab9c;
$button-color: #ef6a66;
$hover-color: #32335c;
$form-border: #000;
$homepage-font: #fff; //#ebe4e1;
$nav-color: #ebe4e1; // (255, 255, 255, .7);
