* {
  box-sizing: border-box;
}

// body {
//   background-color: $form-background;
//   background-image: url('dia-homepage-image.jpg');
//   background-repeat: no-repeat;
//   background-size: 100%;
//   position: absolute;
//   text-align: center;
// }

.full {
  background: url('dia-homepage-image.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  background-color: transparent;
}

.container-fluid {
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: inline-block;
}

.homepage {
  // margin-left: 8%;
  // margin-top: 20%;
  // top: 30%;
  background-color: transparent;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: left;
  // z-index: 100;
}

.intro-wrapper {
  background-color: transparent;
  color: $homepage-font;
}

h1
h3 {
  background-color: transparent;
  text-align: left;
}


.interface-header-wrapper {
  display: block;
}


h2,
h5,
li {
//  border: 2px solid $form-color;
  color: $header-font-color;

}

.top-nav {
  margin-bottom: 0%;
  padding-left: 0;
  text-align: left;
}

.bottom-nav {
  margin-top: 90%;
  padding-left: 0;
  text-align: left;
}

.navbar {
  background-color: $nav-color;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-top: 7%;
  width: 10%;

}

.content-wrapper {
//  border: 2px solid black;
  float: right;
  //margin-left: -5%;
  margin-right: 25%;
  margin-top: 12%;
  width: 50%;
}

.content {
  background-color: $nav-color;
  margin: 0 auto;
}

.list-name-wrapper {
  text-align: center;
}

.list-title {
  text-align: center;
}

.form-msg {
  text-align: center;
}

.btn {
  background-color: transparent;
  border-color: transparent;
  color: $button-color;

}

.btn:hover {
  background-color: transparent;
  border-color: transparent;
  color: $hover-color;
}


.form-container {
  display: block;
  margin: auto 0;
//  text-align: center;
}

form {
  //background-color: $form-background;
  color: $form-color;
  display: inline-block;
//  margin: 0 auto;
  padding: 30px;
  position: relative;
  z-index: 100;
}


label {
  // margin: 0 auto;
  padding-top: 10px;
}

input {
  background-color: transparent;
  border: 0;
  border-bottom: 1.5px solid $form-border;
//  text-align: center;
}


ul {
  display: list-item;
  list-style: none;
  margin: 0;
  padding: 0;
}


//Style the close button

.edit-list {
//  padding: 12px 16px;
//  position: absolute;
//  border: 2px solid;
  padding-right: 5%;
//  top: 0;
}



.add-items {
  display: table-cell;
}
